@import url("https://fonts.googleapis.com/css?family=Amita");
html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: #e0e0e0;
    background-position: center;
}

a {
    text-decoration: none;
    color: unset;
}

div,
h1,
h2,
h3,
h4,
p,
i,
a {
    position: relative;
    transition: 0.4s;
}

:root {
    --color: #848484;
    --color2: #64af35;
}

/*alerts */

div,
h1,
h2,
h3,
h4,
p,
i,
a,
footer {
    position: relative;
    transition: 0.4s;
}

input,
select,
textarea,
button {
    font-family: Amita;
}

a {
    text-decoration: unset;
    color: unset;
}

input::placeholder {
    font-size: 12px
}

.card,
.card2 {}

.fa-telegram {
    background: #226397;
    color: white;
}

.btn_buy2 {
    background: linear-gradient(45deg, #FF5722, #FF9800);
    color: white;
    width: fit-content;
    margin: 5px auto;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
}

.alert {
    padding: 23px;
    width: fit-content;
    font-size: 13px;
    margin: 0px auto;
    font-weight: 500;
    border-radius: 6px;
}

.danger {
    background: #ffd0d082;
    color: #d45050;
}

.info {
    background: #d0deff82;
    color: #5097d4;
}

.success {
    background: #90ff6c82;
    color: #1aab2c;
}

.card {
    width: 437px;
    overflow: hidden;
    margin: 0px auto;
    z-index: 0;
    background: url(card_images/carda53.webp);
    background-size: 100% 100%;
    padding: 0px 0px 7px;
    height: auto;
    background-position: center;
    background-attachment: initial;
}

.card_content {
    margin: 0px;
    z-index: 2;
    padding: 20px 0px 4px;
    background-position: top;
    background-attachment: initial;
    background-size: cover;
    position: relative;
    width: -webkit-fill-available;
    max-height: 162px;
}

#d_logo_back {
    position: absolute;
    z-index: 0;
    display: none;
    width: 100%;
    max-height: 313px;
    max-width: 100%;
    left: 0;
    top: -27px;
    border: 0px;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px black;
}

#social_media_icons {}

#share_on_whatsapp {}

#popup_share_box {}

.card_content img {
    border: 5px solid #ffeb3b;
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-radius: 7px;
    position: relative;
    top: 13%;
    max-height: 150px;
    padding: 5px;
    left: 50%;
    transform: translate(-50%);
}

.card_content2 {
    z-index: 2;
    text-align: center;
    font-weight: 500;
    margin: 2% auto 18px;
    color: #ffffff;
    background: #000000ad;
    padding: 13px 5px 14px;
    border-radius: 13px;
    border: 3px solid;
}

.card_content2 h2:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background: #fdfdfd;
    bottom: -7px;
    border-radius: 28px;
    left: 50%;
    transform: translate(-50%);
}

.card_content2 h2 {
    text-transform: uppercase;
    margin: 1px 30px 10px;
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 28px;
}

@keyframes scale {
    0% {
        transform: translate(-50%);
    }
    100% {
        transform: translate(-50%);
    }
}

.card_content2 p {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 33px;
}

.dis_flex {
    display: block;
    text-align: center;
    padding: 0px 0px 0px;
    margin: 1px 0px 19px;
    z-index: 3;
}

.dis_flex .link_btn {
    padding: 7px;
    width: 49px;
    border-radius: 0px;
    margin: 8px 2px;
    display: inline-block;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 1px 1px 6px #5d5d5d;
}

.dis_flex .link_btn i {
    font-size: 26px;
    background: linear-gradient( 90deg, #009044, #196e1d);
    color: #ffffff;
    padding: 12px 11px;
    width: 28px;
    margin: -25px auto 5px;
    display: block;
    border-radius: 35px;
    text-shadow: 0px 0px black;
    border: 3px solid white;
}

.contact_details {
    padding: 0px 36px;
    margin: 0px;
}

.contact_details .contact_d {
    display: flex;
    margin: 11px auto;
    background: #000000cc;
    border-radius: 5px;
    border: 3px solid white;
    border-right: 3px solid #ffeb3b;
}

.contact_details .contact_d i {
    color: #04031a;
    height: 22px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    width: 23px;
    border-radius: 32px;
    background: #ffffff;
}

.contact_details .contact_d p {
    margin: 6px 15px;
    font-size: 14px;
    line-height: 2;
    color: white;
}

.dis_icon2 {
    position: relative;
    top: -179px;
    height: 20px;
}

.dis_flex .share_wtsp {
    padding: 0pc;
    margin: 10px auto;
    text-align: center;
}

.dis_flex .share_wtsp select {}

.dis_flex .share_wtsp input {
    font-size: 13px;
    border: 0px;
    padding: 10px;
    outline: none;
    background: white;
    box-shadow: 0px 0px 10px 0px #ff98002e;
}

.dis_flex .share_wtsp input[type=submit] {
    background: #47b303;
    color: white;
    font-size: 10px;
    padding: 11px;
    top: -2px;
    position: relative;
}

.dis_flex .big_btns {
    background: white;
    color: #0d1649;
    border-radius: 38px;
    font-size: 13px;
    padding: 13px;
    display: inline-block;
    text-align: center;
    margin: 3px 0px;
    border: 0px;
    min-width: 139px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #ff98002e;
}

.wtsp_share_btn {
    background: linear-gradient( 45deg, #0a6a0e, #107d14);
    color: white;
    border: 2px solid;
    border-radius: 0px 20px 20px 0px;
}

.dis_flex .big_btns i {}

.dis_flex .social_med {
    padding: 2px;
    margin: 21px 0px 32px;
    display: inline-block;
}

.dis_flex .social_med i {
    font-size: 26px;
    width: 25px;
    text-align: center;
    border-radius: 37px;
    padding: 9px 10px;
    margin: 3px;
}

.fa-twitter {
    background: white;
    color: #ff9800;
}

.fa-facebook {
    background: #5858fd;
    color: white;
}

.fa-linkedin {
    background: #007bb6;
    color: white
}

.fa-youtube {
    background: #e63e3e;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white
}

.fa-instagram {
    background: #fd01bb;
    color: white;
}

.share_box {
    display: none;
    background: linear-gradient( 45deg, #580404, #2a0033);
    color: white;
    position: fixed;
    top: 4%;
    height: 80%;
    width: 351px;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ff980033;
    z-index: 6;
    border-radius: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.share_box .close {
    font-size: 47px;
    text-align: end;
    padding: 0px 10px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.shar_btns p {
    font-size: 12px;
    font-weight: 500;
}

.shar_btns i {
    font-size: 28px;
    color: #04062b !important;
    background: white !important;
    width: 30px;
    border-radius: 28px;
}

#whatsapp2 {
    background: white;
    color: #ff9800;
}

.card2 {
    background: white;
    width: 437px;
    margin: 7px auto;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.card2 h1 {}

.card2 h2 {}

.card2 h3 {
    text-align: left;
    font-size: 17px;
    background: linear-gradient( 45deg, #008649, #b2a109);
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -1px;
    width: -webkit-fill-available;
    border-bottom: 3px solid;
    padding: 12px 25px;
    margin: 0px 0px 21px;
}

.card2 form {}

.card2 form input,
.card2 form textarea {
    width: -webkit-fill-available;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dedede;
    margin: 4px 26px;
    resize: vertical;
    background: #ff980005;
}

.card2 form input[type=submit] {
    color: white;
    font-size: 20px;
    background: linear-gradient(45deg, #FF5722, #b20f03);
    border-radius: 28px;
}

.card2 iframe {
    margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: auto;
    height: 188px;
}

/*prouct services*/

.product_s {
    text-align: center;
    background: white;
    padding: 10px;
    width: fit-content;
    margin: 9px;
    border-radius: 7px;
    display: inline-block;
    border: 3px solid orange;
}

#product_services {
    text-align: center
}

.product_s p {
    font-weight: 600;
    text-transform: capitalize;
}

.product_s img {
    width: auto;
    max-width: 91%;
    max-height: auto;
    background: white;
    border-radius: 5px;
}

.d_dis {
    white-space: pre-wrap;
    margin: 17px 22px 0px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
}

/*image gallery*/

.img_gall {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    margin: 2px;
}

.img_gall img {
    max-width: 100%;
    background: white;
    max-height: 100%;
    border-radius: 1px;
    display: block;
    margin: 0 auto;
    position: relative;
}

/* about us*/

#about_us {}

#about_us h3 {}

#about_us p {
    white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    background: white;
    padding: 4px 26px;
    margin: 11px 0px;
}

/*payment */

#payment {}

#payment p {
    font-size: 19px;
    font-weight: 500;
    color: black;
    width: 77%;
    margin: 8px auto;
}

#payment h2 {
    font-size: 12px;
    font-weight: 500;
    color: gray;
    width: 77%;
    margin: 0 auto;
}

#payment img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0px;
}

.menu_bottom {
    background: white;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: auto;
    height: -webkit-fill-available;
}

.menu_container {
    width: auto;
    text-align: left;
    display: block;
}

.menu_item {
    font-weight: 500;
    font-size: 12px;
    margin: 13px;
    width: 209px;
    white-space: inherit;
    padding: 8px 31px;
    border-radius: 7px;
    background: linear-gradient( 45deg, #008649 83%, #ffeb3b 67%);
    color: white;
}

.menu_item i {
    font-size: 20px;
    margin: 7px 20px 5px 0px;
}

/* order page */

#shop_online {
    text-align: center;
}

.order_box {
    width: 70%;
    display: inline-block;
    margin: 6px 6px;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    padding: 0px 0px 13px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #ff980030;
}

.order_box img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.order_box h2 {
    padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

.order_box h4 {
    padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}

.order_box p {
    padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;
}

.btn_buy {
    background: #4CAF50;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 11px auto 6px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

/*Mobile style*/

@media screen and (max-width:700px) {
    .card {
        width: -webkit-fill-available;
        overflow: hidden;
        margin: 0px auto 0px;
        z-index: 0;
        background-size: 100% 100%;
    }
    .card2 {
        width: auto !important;
        margin: 0 0px !important;
    }
    .menu_bottom {
        background: white;
        width: -webkit-fill-available;
        text-align: center;
        position: fixed;
        height: fit-content;
        bottom: 0;
        left: 0;
        top: unset;
        overflow-x: auto;
    }
    .menu_container {
        width: auto;
        text-align: left;
        display: flex;
    }
    .menu_item {
        text-align: center;
        font-weight: 600;
        display: inline-grid;
        font-size: 12px;
        margin: 3px;
        width: 209px;
        white-space: pre;
        padding: 8px;
        border-radius: 4px;
    }
    .menu_item i {
        font-size: 20px;
        margin: auto;
    }